<h1>Businesses</h1>

<p><%= link_to 'Add a New Business', new_business_url %></p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Category</th>
      <th>Neighborhood</th>
      <th>Hours</th>
      <th>Image url</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @businesses.each do |business| %>
    <tr>
      <td><%= business.name %></td>
      <td><%= business.address %></td>
      <td><%= business.phone %></td>
      <td><%= business.category %></td>
      <td><%= business.neighborhood_id %></td>
      <td><%= business.hours %></td>
      <td><%= business.image_url %></td>
  
      <td><%= link_to 'Show', business_url(business) %></td>
      <td><%= link_to 'Edit', edit_business_url(business) %></td>
      <td><%= link_to 'Destroy', business_url(business), method: 'delete', data: { confirm: "Do you really want to delete this business?" } %></td>

    </tr>
  <% end %>
  </tbody>
</table>

