<h1>New Business</h1>


<%= form_tag(businesses_url, method: 'post') do %>


  <div>
    <%= label_tag :name %><br />
    <%= text_field_tag :name %>
  </div>

  <div>
    <%= label_tag :yelp_url %><br />
    <%= text_field_tag :yelp_url %>
  </div>

  <div>
    <%= label_tag :neighborhood_id %><br />
    <%= select_tag :neighborhood_id, options_from_collection_for_select(Neighborhood.all, :id, :name) %>
  </div>

  <div>
    <%= label_tag :image_url %><br />
    <%= text_field_tag :image_url %>
  </div>

  <div>
    <%= label_tag :address %><br />
    <%= text_field_tag :address %>
  </div>


  <div>
    <%= submit_tag "Create Business" %>
  </div>
<% end %>
