<h1>Business #<%= @business.id %></h1>

<p>
  <b>Name:</b>
  <%= @business.name %>
</p>

<p>
  <b>Address:</b>
  <%= @business.address %>
</p>

<p>
  <b>Phone:</b>
  <%= @business.phone %>
</p>

<p>
  <b>Category:</b>
  <%= @business.category %>
</p>

<p>
  <b>Neighborhood:</b>
  <%= @business.neighborhood_id %>
</p>

<p>
  <b>Hours:</b>
  <%= @business.hours %>
</p>

<p>
  <b>Image url:</b>
  <%= @business.image_url %>
</p>


