<h1>Business #<%= @business.id %></h1>

<p>
  <b>Name:</b>
  <%= @business.name %>
</p>

<p>
  <b>Yelp url:</b>
  <%= @business.yelp_url %>
</p>

<p>
  <b>Neighborhood:</b>
  <%= @business.neighborhood.name %>
</p>

<p>
  <b>Image url:</b>
  <%= @business.image_url %>
</p>

<p>
  <b>Address:</b>
  <%= @business.address %>
</p>


