<h1>Neighborhoods</h1>

<p><%= link_to 'Add a New Neighborhood', new_neighborhood_url %></p>

<%= gmaps4rails(@json) %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>History</th>
      <th>Demographics</th>
      <th>Image</th>
      <th>Center</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @neighborhoods.each do |neighborhood| %>
    <tr>
      <td><%= neighborhood.name %></td>
      <td><%= neighborhood.history %></td>
      <td><%= neighborhood.demographics %></td>
      <td><%= image_tag neighborhood.image_url, width: 100 %></td>
      <td><%= neighborhood.center %></td>

      <td><%= link_to 'Show', neighborhood_url(neighborhood) %></td>
      <td><%= link_to 'Edit', edit_neighborhood_url(neighborhood) %></td>
      <td><%= link_to 'Destroy', neighborhood_url(neighborhood), method: 'delete', data: { confirm: "Do you really want to delete this neighborhood?" } %></td>

    </tr>
  <% end %>
  </tbody>
</table>

