<h1>Neighborhood #<%= @neighborhood.id %></h1>

<p>
  <b>Name:</b>
  <%= @neighborhood.name %>
</p>

<p>
  <b>History:</b>
  <%= @neighborhood.history %>
</p>

<p>
  <b>Demographics:</b>
  <%= @neighborhood.demographics %>
</p>

<p>
  <%= image_tag @neighborhood.image_url, width: 400 %>
</p>

<p>
  <b>Center:</b>
  <%= @neighborhood.center %>
</p>

<h3>Popular businesses</h3>

<ul>
<% @neighborhood.businesses.each do |business| %>
  <li><%= link_to business.name, business.yelp_url %></li>
<% end %>
</ul>






