<h1>Neighborhood #<%= @neighborhood.id %></h1>

<p>
  <b>Name:</b>
  <%= @neighborhood.name %>
</p>

<p>
  <b>History:</b>
  <%= @neighborhood.history %>
</p>

<p>
  <b>Demographics:</b>
  <%= @neighborhood.demographics %>
</p>

<p>
  <b>Image url:</b>
  <%= @neighborhood.image_url %>
</p>

<p>
  <b>Center:</b>
  <%= @neighborhood.center %>
</p>


